.calc-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calc-container .content section{
    width: 100%;
    max-width: 380px;
}

.calc-container .content section h1{
    margin: 0px 0 32px;
    font-size: 60px;
}

.calc-container .content section img{
    margin: 0px 0 40px;
}

p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.calc-container .content form {
    width: 100%;
    max-width: 450px;
}

.calc-container .content form input {
    margin-top: 8px;
}

.calc-container .content form .input-group {
    display: flex;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-right: 8px;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.min {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.slider {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.plan {
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
}